*{
    font-size: 12px;
}

.studentInactive{
    color: red;
    font-weight: bold
}

.studentActive{
    color: green;
    font-weight: bold;
}


.actionBtn{
    border: none;
    background-color: transparent;
}

.actionIcon{
    font-size: 20px;
}